
.DS_Store
tutorial_requirements.txt

# Ignore virtual environment
myenv/

# Ignore data folder and all its contents
data/

# Notebook files 
tutorial/preparing_data.ipynb
*-checkpoint.ipynb
tutorial/tutorial_overlap.ipynb
